<h1>All Articles</h1>
<% @articles.each do |article| %>
  <p>
    <%= link_to "#{article.title}", article_path(article.id) %>
  </p>
<% end %>

<h3> <%= link_to "Create a new Article", articles_new_path %> </h3>
